@charset "UTF-8";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* main */
main{display: block;}

html{
  height: 100%;
  line-height: 1.5em;
  margin-bottom: 2em;
}

body{
  color:#eee;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-size: cover;
  background-color: #111;
  background-image: url('images/penguin-background.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.cutout{
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-image: url('images/penguin-background-cutout.png');
  background-position: center center;
}

/* text */
.hidden{display: none;}
small{font-weight: bold; font-size: 1em;}

header small{
  color: #ccc;
  margin: 0 10px;
}

main small{
  right: 0;
  color: #222;
  bottom: 0;
  position: absolute;
  letter-spacing: 0.1em;
  background-color: #fff5;
}

h1{
  margin: 0 10px;
  font-size: 64px;
  font-style: italic;
  line-height: 1.2em;
  font-family: 'Noto Sans Mono', sans-serif;
}

p.cover{
  margin: 25vh 8vw;
  font-size: 10vw;
  line-height: 1em;
}
